.dashboard {
    height: 100vh;
    background: #ffffffa5;
    padding: 33px 40px;
    display: flex;
}

.sidebar {
    width: 338px;
    flex-shrink: 0;
}

.dashboard-content {
    flex: 1;
    padding: 30px 50px 75px 50px;
}