.feature-group {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 940px;
    gap: 16px;
}

.feature-row {
    display: flex;
    height: 90px;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.feature-text h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.feature-text p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #625B71;
}

