.title-name {
    font-size: 18px;
    font-weight: 600;
    color: black;
    line-height: 48px;
    margin: 20px 4px 10px;
}

.title-text {
    font-size: 15px;
    font-weight: 500;
    color: #625B71;
    margin: 0 4px;
    line-height: 12px;
}