.image-card-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 245px;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.image-card-large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 510px;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin: 70px 0 30px 0;
    position: relative;
    overflow: visible;
    z-index: 0;
}

.image-card-small .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 28px;
}

.image-card-large .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
    padding-right: 200px;
}

.image-card-large .card-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 28px;
}

.image-card-small .card-text {
    display: flex;
    flex-direction: column;
}

.card-text h3 {
    font-size: 24px;
    line-height: 44px;
    margin: 0;
}

.card-text p {
    margin: 0;
    color: #49454F;
    font-size: 14px;
    line-height: 25px;
}

.card-text .duration {
    color: #625B71;
    font-size: 14px;
}

.image-card-small .card-image {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.image-card-large .card-image {
    object-fit: contain;
    position: absolute;
    z-index: 1;
}

.card-button {
    width: 100%;
}
