.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    width: 600px !important;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
    color: #4F378A;
}

.modal-message {
    font-size: 15px;
    color: #444;
    text-align: left;
}